[Unit]
Description=ZooKeeper
After=network.target

[Service]
WorkingDirectory={{zookeeper_home}}
User=zookeeper
Group=zookeeper
ExecStart={{zookeeper_start}}

TimeoutSec=50

Restart=always  
RestartSec=30  
StartLimitInterval=30  
StartLimitBurst=1  

[Install]
WantedBy=multi-user.target

